/* Universal changes */

* {
  margin: 0 auto;
  line-height: 1.5;
  text-decoration: none;
}

body{overflow-x: hidden;
}

/* Troubleshooting */


.red {
  border-color: red;
}

/* Containers */


.container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.aboutContainer {
  display: inline-block;
}

/* Background Image */


.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/img/heroImage.jpg);
}


.background-image-error{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/img/Error404Bg.jpg);

}


.background-image-footer{
  position: fixed;
  width: 100%;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/img/Error404Bg.jpg);

}

.project-image{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/img/ProjectUI.png);

}

.project-image-second{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/img/Animation.png);

}


.project-image-third{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/img/ProjectIXD.png);

}

/* Z-Index */


.lowerZIndex {
  z-index: -1;
}

.middleZIndex {
  z-index: 1;
}

.upperZIndex {
  z-index: 2;
}

/* Navbar */


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.625rem;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.navbar-logo {
  flex: 1;
  margin-left: 1.25rem;
}

.logo {
  width: 4.6875rem;
  height: 4.6875rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  display: block;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  font-family: "Averta Std", sans-serif;
  font-weight: bold;
}

.active {
  color: #262262;
}

.navbar a:hover {
  color: #262262;
}

/* Media Queries */


@media (max-width: 48rem) {
  .navbar {
    position: relative;
  }

  .navbar ul {
    text-align: center;
  }

  .navbar-logo {
    margin-left: 0;
    text-align: center;
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutMeImage {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aboutMeImage {
  width: 100%;
  max-width: 400px; 
}

@media (min-width: 768px) {
  .aboutMe {
    flex-direction: row;
    text-align: left;
  }

  .aboutMeImageHolder {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2rem;
    margin-left: 0;
    align-self: flex-start;
  }
}




/* Margin and Padding */


.marginRight {
  margin-right: 3.125rem;
}

.welcomeText {
  margin-top: 11.875rem;
  margin-left: 9.375rem;
}

.paddingTop500px {
  margin-top: 31.25rem;
}

.marginTop250px {
  margin-top: 15.625rem;
}

.marginTop350px {
  margin-top: 21.875rem;
}

.marginLeft300px {
  margin-left: 18.75rem;
}

.marginTop50px {
  margin-top: 3.125rem;
}

.marginTop150px {
  margin-top: 9.375rem;
}

.marginBottom100px {
  margin-bottom: 6.25rem;
}

.marginLeft150px {
  margin-left: 9.375rem;
}

.marginRight250px {
  margin-right: 15.625rem;
}

.marginRight300px {
  margin-right: 18.75rem;
}

.marginBottom250 {
  margin-bottom: 15.625rem;
}

.padding20px{
  padding: 20px;
}

.margin100px{
  margin: 100px;
}



/* Font and Text */


.displayFont {
  font-family: "Bahnschrift", sans-serif;
  font-weight: bold;
  font-size: 9.375rem;
}

.bodyFont {
  font-family: "Averta Std", sans-serif;
}

.heading {
  font-size: 3.125rem;
}

.smallDisplay {
  font-size: 3.75rem;
}

.mediumDisplay {
  font-size: 5.625rem;
}

.largeDisplay {
  font-size: 9.375rem;
}

.bodyText {
  font-size: 2.25rem;
}

.max35 {
  max-width: 40ch;
}

/* Background Images */


.background-image {
  background-image: url('/img/heroImage.jpg');
}

/* Images */


.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100%;
  min-width: 31.25rem;
  height: auto;
}

.aboutMe {
  width: auto;
  height: auto;
}

/* Columns */


.col {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 32%;
}

.col-3 {
  width: 25%;
}

.col-8 {
  width: 80%;
}

/* Text Alignment */


.centreText {
  text-align: center;
}

.image-with-text {
  display: flex;
  align-items: center;
}

.aboutMe {
  display: inline-flex;
}

.image {
  width: 12.5rem; 
  height: auto;
}

.text {
  margin-left: 0.625rem; 
}

.viewWorkButton {
  width: 12.5rem;
  height: 3.125rem;
  background-color: transparent;
  opacity: 0.6;
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  outline: 0.125rem solid #f2f2f2;
  padding: 0.625rem 1.25rem;
}

.viewWorkButton:hover {
  background-color: #2E3192;
}

@media (max-width: 48rem) {
  .viewWorkButton {
    width: 12.5rem;
    height: 5rem;
    font-size: 1rem;
    padding: 0.125rem 0.25rem;
  }
}

@media (max-width: 30rem) {
  .viewWorkButton {
    width: 9.375rem;
    height: 3.75rem;
    font-size: 0.875rem;
    padding: 0.09375rem 0.1875rem;
  }
}

.footer {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-item {
  color: white;
  margin-right: 3.125rem; 
  margin-left: -0.0625rem;
}

.footer-icon {
  width: 1.875rem;
  height: 1.875rem;
}

.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  color: #262262;
}

/* Colors */

.white {
  color: #f2f2f2;
}

.whitebg {
  background-color: #f2f2f2;
}

.blue {
  color: #2E3192;
}

.bgBlue {
  background-color: #2E3192;
}

.black {
  color: black;
}

.gray {
  color: #121212;
}

.bgGray {
  background-color: #121212;
}

.black {
  background-color: black;
}

.roundedBorders {
  border-radius: 0.25rem;
}

.fullWidth {
  width: 100%;
}

.padding12px {
  padding: 0.75rem;
}

.border1px {
  border: 0.0625rem solid #ccc;
}

.borderBox {
  box-sizing: border-box;
}

.marginTop6px {
  margin-top: 0.375rem;
}

.marginBottom16px {
  margin-bottom: 1rem;
}

.padding20px {
  padding: 1.25rem;
}


.marginLeft50px{
  margin-left: 50px;
}


.displayFlex{
  display: flex;
}

.justifyCentre{
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
}

/*------------------Cards------------------*/

.card {
  width:41rem;
  height:74.625rem; 
}


.card-image {
  width: 100%; 
  height: auto; 
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}


.container {
  width: 50%;
  height: 100vh; 
}

.seventyOpacity{

  opacity: 70%;
}

.content {
  text-align: left;
  color: #fff;
}

.fullLeft{
  margin-left: -15px;
}


/*--------Media Queries-------*/

.mobile {
  display: none !important;
}


/* Styles for tablets */
@media only screen and (max-width: 1024px) {
  /* Your tablet styles go here */
}

/* Styles for mobile devices */
@media only screen and (max-width: 768px) {
  /* Your mobile styles go here */
}
